
.slider__Arrow{
    width: 1em;
    height: 1em;
}

.slider__leftArrow{
    rotate: 180deg;
}


/* .slider__main::-webkit-scrollbar {
    width: 0;
  } */
.slider__main__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: auto 1em;
    border-radius: 1.5em;
    background-color: grey;
    width: 18em;
    height: 19em;
    z-index: 1;
}

.main__content__title{
    margin: 0.7em auto;
    font-weight: 700;
    font-size: 1.5em;
}

.main__content__img{
    display: flex;
    justify-content: center;

    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    width: 20.5em;
    height: 18em;
}

.content__img{
    width: 18em;
    height: 15em;
}

.record__img{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 20em;
    height: 20em;
    transform:translate(-50%,-40%) ;
    object-fit:cover;
}



/* ---------------------0----------- */
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8em;
}
.main__slider{
    display: flex;
    overflow: hidden;
}
.slider1{
    border: 1px solid grey;
    height: 19em;
    display: flex;
    transition: transform .3s ease-out;
}

/* Меняем курсор при захвате */
.slider1:active {
    cursor: grabbing;
    user-select: none;
}

.slider1__item{
    min-width: 17.5em;
}