*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

body{
    height: 57em;
}

.header{
    background-color: gray;
    height: 3.2em;
}

.header__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: auto 4em;
    height: 100%;
}

.header__content__title{
    display: flex;
    flex-direction: row;

    font-size: 2em;
    font-weight: 700;
    color: rgba(81, 64, 235, 0.849);
}

.header__content__user{
    font-size: 1.2em;
    font-weight: bolder;
}

.header__content__title__color{
    color: rgba(43, 28, 172, 0.849);
}
